<div class="modal fade" id="SignInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="background-color: rgba(37, 44, 59, 0.9);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="signup/login">
          {% csrf_token %}

          <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="User Name"
              name="username">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
              name="password">
          </div>
          <button type="submit" class="btn btn-success">Login</button>
        </form>
        <p>Forgot Password? <a href="#">Click Here</a></p>
        <div style="padding:10px; text-align:center">
          <a href="signup"><button type="button" class="btn btn-success">Create New Account</button></div></a>
        </div>
      </div>
    </div>
  </div>
</div>